In [92]:
import pandas as pd

from scipy.stats import pearsonr
from sklearn.linear_model import LinearRegression
path='/Users/ranashakti7/Desktop/Github/Sydney_users/users.csv'
df=pd.read_csv(path)
df.head()

,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at
0,nicknochnack,Nicholas Renotte,NaN,"Sydney, Australia",NaN,NaN,Data Science guy @IBM,193,11692,5,2013-11-15T15:06:35Z
1,brendangregg,Brendan Gregg,INTEL,"Sydney, Australia",NaN,NaN,Cloud computing performance engineer.,42,8023,0,2011-10-04T08:48:56Z
2,cornflourblue,Jason Watmore,POINT BLANK DEVELOPMENT,Sydney Australia,NaN,NaN,"Web Developer and Blogger, currently focusing ...",187,6701,0,2011-05-13T04:38:16Z
3,0vm,Ak,NaN,"Sydney, Australia",NaN,True,erm hai,10,6567,3,2021-03-02T06:55:10Z
4,davecheney,Dave Cheney,GITHUB,"Sydney, Australia",NaN,NaN,I service society by rocking.,163,6557,42,2008-04-14T04:00:20Z

In [51]:
path1='/Users/ranashakti7/Desktop/Github/Sydney_users/repositories.csv'
df1=pd.read_csv(path1)
df1.head()

,login,full_name,created_at,stargazers_count,watchers_count,language,has_projects,has_wiki,license_name
0,nicknochnack,nicknochnack/ActionDetectionforSignLanguage,2021-06-16T09:12:01Z,408,408,Jupyter Notebook,True,True,NaN
1,nicknochnack,nicknochnack/AdvancedHandPoseWithMediaPipe,2021-04-25T00:13:57Z,37,37,Jupyter Notebook,True,True,NaN
2,nicknochnack,nicknochnack/ANPRwithPython,2020-12-13T04:39:49Z,106,106,Jupyter Notebook,True,True,NaN
3,nicknochnack,nicknochnack/AutoStreamlit,2022-10-25T21:25:41Z,72,72,Jupyter Notebook,True,True,NaN
4,nicknochnack,nicknochnack/beeagent,2024-09-19T08:05:08Z,8,8,TypeScript,True,True,NaN

In [52]:
# Clean the 'company' column
df['company'] = df['company'].str.strip().str.lstrip('@').str.upper()

# Save the cleaned dataframe back to the same CSV file
df.to_csv(path, index=False)

In [53]:
# Sort the dataframe by 'followers' in descending order and select the top 5 users
top_5_users = df.sort_values(by='followers', ascending=False).head(5)

# Get the 'login' column and convert it to a comma-separated string
top_5_logins = ', '.join(top_5_users['login'].tolist())
print(top_5_logins)

nicknochnack, brendangregg, cornflourblue, 0vm, davecheney

In [54]:

# Sort the dataframe by 'created_at' in ascending order and select the top 5 users
earliest_5_users = df.sort_values(by='created_at').head(5)

# Get the 'login' column and convert it to a comma-separated string
login_string = ','.join(earliest_5_users['login'].tolist())

print(login_string)

dylanegan,cjheath,freshtonic,dhowden,mikel

In [56]:


# Filter out rows with missing licenses
df_filtered = df1.dropna(subset=['license_name'])

# Count the occurrences of each license
license_counts = df_filtered['license_name'].value_counts()

# Select the top 3 licenses
top_3_licenses = license_counts.head(3)
top_3_licenses

license_name
MIT License           12638
Apache License 2.0     3619
Other                  3579
Name: count, dtype: int64

In [57]:
# Count the occurrences of each company
company_counts = df['company'].value_counts()

# Identify the company with the highest count
most_common_company = company_counts.idxmax()

most_common_company

'ATLASSIAN'

In [58]:
# Count the occurrences of each programming language
language_counts =df1['language'].value_counts()

# Identify the programming language with the highest count
most_common_language = language_counts.idxmax()

print(most_common_language)

JavaScript

In [60]:
# Filter out users who joins after 2020
post_2020_users = users_df[users_df['created_at'] >= '2020-01-01']['login']
# Filter out repositories owned by users who joined after 2020
post_2020_repos = repos_df[repos_df['login'].isin(post_2020_users)]
#identify the second popular language
second_popular_language_post_2020 = post_2020_repos['language'].value_counts().index[1]
second_popular_language_post_2020

'TypeScript'

In [61]:
# group by language and calculate the average number of stars
average_stars_per_language = df1.groupby('language')['stargazers_count'].mean()
#highest average stars language
highest_avg_stars_language = average_stars_per_language.idxmax()
highest_avg_stars_language

'Perl'

In [62]:
# calculate user's leader strength
users_df['leader_strength'] = users_df['followers'] / (1 + users_df['following'])
# get the top 5 users with the highest leader strength
top_5_leader_strength = users_df.nlargest(5, 'leader_strength')['login'].tolist()
top_5_leader_strength

['brendangregg', 'cornflourblue', 'Canva', 'nicknochnack', '0vm']

In [ ]:
# Calculate the correlation between 'followers' and 'public_repos'
followers_repos_corr, _ = pearsonr(df['followers'], df['public_repos'])
followers_repos_corr

0.03489459760280698

In [63]:
# define x for linear regression
X = df[['public_repos']]
#define y for linear regression
y = users_df['followers']
#fit linear regression model
reg_model = LinearRegression().fit(X, y)
#slope of the linear regression model
followers_on_repos_slope = reg_model.coef_[0]
followers_on_repos_slope

0.06734362842841572

In [76]:
# Convert 'has_project' and 'has_wiki' columns to 0 and 1
df1['has_projects'] = df1['has_projects'].astype(int)
df1['has_wiki'] = df1['has_wiki'].astype(int)
# Calculate the Pearson correlation coefficient using scipy.stats.pearsonr
correlation, _ = pearsonr(df1['has_projects'], df1['has_wiki'])
print(correlation)

0.28079618900042125

In [ ]:
# Calculate the total following and count for hireable users
hireable_following_sum = df[df['hireable'] == True]['following'].sum()
hireable_count = df[df['hireable'] == True].shape[0]

# Calculate the total following and count for non-hireable users
non_hireable_following_sum = df['following'].sum()-df[df['hireable'] == True]['following'].sum()
non_hireable_count = df.shape[0] - df[df['hireable'] == True].shape[0]

# Calculate the average following for hireable and non-hireable users
hireable_following_avg = hireable_following_sum / hireable_count
non_hireable_following_avg = non_hireable_following_sum / non_hireable_count
# Calculate the difference in average following
avg_following_diff = hireable_following_avg - non_hireable_following_avg
# Print the result rounded to 3 decimal places
print(f"{avg_following_diff:.3f}")

140.6315789473684 86.75486381322958
53.877

In [102]:

#create a copy of the DataFrame
users_df = df.copy()

# Add a new column 'bio_word_count' with the word count of each bio, ignoring empty bios
users_df['bio_word_count'] = users_df['bio'].fillna('').apply(lambda x: len(x.split()))

# Filter out users without bios
filtered_df = users_df[users_df['bio_word_count'] > 0]

# Prepare data for regression
X = filtered_df[['bio_word_count']]  # Independent variable: bio word count
y = filtered_df['followers']         # Dependent variable: followers count

# Perform linear regression
reg_model = LinearRegression().fit(X, y)

# Get the slope (coefficient) of the regression
bio_followers_slope = reg_model.coef_[0]

# Print the slope, which shows the estimated change in followers per additional word in the bio
print(f"Slope of followers with respect to bio word count: {bio_followers_slope:.3f}")

Slope of followers with respect to bio word count: -10.880

In [103]:
#craete a copy of the DataFrame
users_df = df.copy()
users_df = pd.read_csv('/Users/ranashakti7/Desktop/Github/Sydney_users/users.csv')

# Fill missing values in 'hireable' with False (non-hireable)
users_df['hireable'] = users_df['hireable'].fillna(False)

# Calculate the fraction of hireable users who have an email
hireable_with_email_fraction = users_df[users_df['hireable'] == True]['email'].notna().mean()

# Calculate the fraction of non-hireable users who have an email
non_hireable_with_email_fraction = users_df[users_df['hireable'] == False]['email'].notna().mean()

# Calculate the difference between the two fractions
email_sharing_diff = hireable_with_email_fraction - non_hireable_with_email_fraction

# Print the result rounded to 3 decimal places
print(f"Difference in email sharing (hireable - non-hireable): {email_sharing_diff:.3f}")

Difference in email sharing (hireable - non-hireable): 0.044

In [66]:
# Extract the last word in 'name' as the surname, ignoring missing names
users_df['surname'] = df['name'].fillna('').apply(lambda x: x.strip().split()[-1] if x.strip() else None)

# Remove any rows where surname is None (in cases of missing names)
users_with_surname = users_df.dropna(subset=['surname'])

# Count occurrences of each surname
surname_counts = users_with_surname['surname'].value_counts()

# Find the maximum count and get all surnames with this count
max_count = surname_counts.max()
most_common_surnames = surname_counts[surname_counts == max_count].index.sort_values().tolist()

# Print the most common surname(s) and the count
print("Most common surname(s):", ', '.join(most_common_surnames))

Most common surname(s): Wu, Zhang